body{
    margin-top:50px;
  }
  h4{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .calculator input, select{
    width:100%;
    border:0;
    padding:20px;
    background-color:#f8f8f8;
    border-radius: 3px;
    outline:0;
    font-weight:bold;
    color:#666666;
  }
  .calculator label{
      color: #b2bec3;
      font-size: 14px;
      margin-bottom: 11px;
  }
  .calculator .current{
    margin-top:30px;
  }
  .calculator .btn-success{
    background-color:#00b894;
    color:#FFF;
    outline:none;
    text-transform:uppercase;
    font-weight: 500;
    font-size:13px;
  }
  .calculator .btn-success:hover, .calculator .btn-success:focus, .calculator .btn-success:active{
    outline:0;
    border:0;
    box-shadow: none;
  }
  .calculator .total{
    background-color:transparent;
    font-size:18px;
    border: 1px solid #f8f8f8;
    padding: 17px 17px;
  }
  .description{
    color:#b2bec3;
    font-size:13px;
  }
  .calculatorform{
    margin-top:40px;
  }